<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You - Trustpilot Review Scraper</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="my-4">Thank You for Using the Trustpilot Review Scraper</h1>
        <h2 class="mb-4">Generated Summaries:</h2>
        <div id="summaries"></div>
        <h2 class="mb-4 mt-4">Scraped Reviews:</h2>
        <div id="results"></div>
        <a href="/" class="btn btn-secondary mt-4">Go back</a>
        <script src="./static/thankyou.js"></script>
    </div>
</body>
</html>
